/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/12/2015, 17:34:48
    Author     : H200
*/

body {background-color: #FFFFFF;text-align:center; font: 80% Verdana, Arial, Helvetica, sans-serif;}
h1{color: #222; font-size: 20pt; font-weight: bold;}
a{font-family: Verdana; font-size: 15pt;}

.headerEX{width:100%;  height: 50px; float:left;}
.mainEX {width:90%; text-align: center; height: 600px; }
.izq {width:500px; float:left; text-align:left; border: 1px solid red; height: 200px;}
.main {width:500px; float:left; text-align:left; border: 1px solid red;height: 200px;}


.img_banner{
	width: 100%;
	font-family: 'Arial',arial;
	color: #FFFFFF;
	font-size: 10px;
}

.footerEX{
        width:100%; min-width: 1010px; max-width: 1200px; 
	background-color: #1F1F1F;
	height: 80px;
}

.contenedor_logo_footer{
	position: absolute;
	margin: 17px 50px;
	display: inline-block;
}

.gestor_footer{
	font-family: 'Arial',arial;
	color: #FFFFFF;
	font-size: 10px;
}

.social_footer{
	margin-right: 25px;
	display: inline-block;
	float: right;
        margin-top: 12px;
}

.social_f {
    color: #FFFFFF;font-size: 12px;
}